In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
dia = pd.read_csv('Diabetes.csv')

In [3]:
dia

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,NO
764,2,122,70,27,0,36.8,0.340,27,NO
765,5,121,72,23,112,26.2,0.245,30,NO
766,1,126,60,0,0,30.1,0.349,47,YES
767,1,93,70,31,0,30.4,0.315,23,NO

In [4]:
dia = dia.rename(columns = {' Number of times pregnant' : 'num_times_preg',' Plasma glucose concentration' : 'plasma_gluc_conct', ' Diastolic blood pressure' : 'diast_blood_pres', ' Triceps skin fold thickness' : 'tric_skin_fold_thick', ' 2-Hour serum insulin' : '2h_serum_insul', ' Body mass index' : 'bmi',
                            ' Diabetes pedigree function' : 'diab_pedig_func', ' Age (years)' : 'age', ' Class variable' : 'output'})

In [5]:
dia

,num_times_preg,plasma_gluc_conct,diast_blood_pres,tric_skin_fold_thick,2h_serum_insul,bmi,diab_pedig_func,age,output
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,NO
764,2,122,70,27,0,36.8,0.340,27,NO
765,5,121,72,23,112,26.2,0.245,30,NO
766,1,126,60,0,0,30.1,0.349,47,YES
767,1,93,70,31,0,30.4,0.315,23,NO